/*start debug mode
.border{
	border: 3px solid black;
	margin: 2px;
}
.red {
	border-color: red;
}
.green {
	border-color: green;
}
.blue {
	border-color: blue;
}
.yellow{
    border-color: yellow;
}
/*end debug mode*/

/*------------------------------------------Fonts--------------------------------------------------*/
/* raleway-regular - latin */
@font-face 
{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/*------------------------------------------Body--------------------------------------------------*/
body 
{
    width: 90%;
    margin: auto;
    font-family: 'Raleway', Arial, sans-serif; /*'CrayonL', is only for test purposes*/
    max-width: 1100px; /*TBU or check utility*/
}

/*------------------------------------------Header--------------------------------------------------*/
#register_position
{
    position: absolute;
    right: 25px;
    top: 30px;
    width: 100px;
    font-weight: bold;
}

nav
{
    position: absolute;
    right: 125px;
    top: 14px;
}

@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    nav
    {
        position: initial;
    }
}


#nav_item3
{
    color: #0065fc;
    text-decoration: none;
}

#register_position :hover
{
    border-top: 2px solid #0065fc;
}

header img
{
    height: 40px;
    padding-top: 20px;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 50px;
}

nav a
{
    font-size: 1em;
    text-decoration: none;
    color: black;
}

nav a:hover
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    nav a:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }
}

header h1
{
    font-size: 1.2em;
}

header p
{
    font-size: 0.8em;
}

#search_map_icon
{
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    height: 40px;   
    float: left;
    text-align: center;
    padding-right: 10px;
    width: 3%;
    min-width: 40px;
    position: relative; /*item appears in back */
    z-index: 1;         /*item appears in back */
}

#search_input
{
    background-color: white;
    border-color: #f2f2f2;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    text-decoration: black;
    font-weight: bold;
    height: 35px;
    border-left: none;
    margin-left: -6px;
    float: left;  
    width: 11%;
    min-width: 150px;
    position: relative; /*this is to bring item to front */
    z-index: 2;         /*this is to bring item to front with higher z-index */
}

#search_button
{
    background-color:#0065fc;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    float: left;
    min-width: fit-content;
    margin-left: -8px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    position: relative; /*item appears in back */
    z-index: 1;         /*item appears in back */
}

#header_filters
{
    display: flex;                  
    flex-direction: row;
    flex-wrap: wrap;
 }

 #filter_text
 {
     font-weight: bold;
     margin-top: 20px;
  }

#filter_icon
{
    background-color: #deebff;
    color: #0065fc;
    border: none;
    border-radius: 50px;
    height: 40px;   
    float: left;
    text-align: center;
    min-width: 40px;
    margin-left: 20px;
    margin-top: 10px;/* this is for responsive when wrapped*/
    position: relative; /*this is to bring item to front */
    z-index: 2;         /*this is to bring item to front with higher z-index */
}

#filter_button
{
    background-color: white;
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    height: 40px;
    float: left;
    min-width: fit-content;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: -40px;
    margin-top: 10px; /* this is for responsive when wrapped*/
    border-radius: 50px;
    position: relative; /*item appears in back */
    z-index: 1;         /*item appears in back */
}

#header_filters :hover
{
    border-color: green;
    border-width: 3px;
}

#header_info
{
    display: flex;
}

#header_info i  
{  
    color: white;
    background-color: #0065fc;
    border-radius: 50%;
    border: solid;
    border-color: #f2f2f2;  
    border-width: 1px;
}

#header_info p
{
    
    margin: 0%;
    padding-left: 10px;
    padding-top: 2px;
}

/*------------------------------------------Sections--------------------------------------------------*/
#sub_container_heberg_and_popu /*blue*/
{
    display: flex;
    justify-content: space-evenly;
}

@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    #sub_container_heberg_and_popu /*blue*/
    {
        display: flexbox;
        flex-direction: column-reverse;
        
    }
}

#sub_sub_container_hebergement /*green*/
{
    display: flex;
    flex-direction: column;
    width: 68%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 10px; /* this is only for tablet size 768 x 1024*/
}

@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    #sub_sub_container_hebergement /*green*/
    {
        width: 100%;
    }
}
/*------------------------------------------------sub section Hebergement*/
#sub_sub_sub_container_text p /*yellow*/
{
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 2%;
}

#sub_sub_sub_container_hebergement_items /*yellow*/
{
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}

#heberg_item    /*black*/
{
    width: 200px;   /*must be px --> % doesn't wrap in responsive*/
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

#heberg_item img    /*red*/
{
    object-fit: cover;  /* to use portion of the image*/
    width: 96%;
    height: 100px;
    display: block;     /* to allow centering*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#heberg_item h3, #populaire_item h3, #activites_items h3 /*red*/
{
    font-size: 0.9em;
    font-weight: bolder;
    height: 10px;
    margin-left: 5%;
}

#heberg_item p, #populaire_item p /*red*/
{
    font-size: 0.8em;
    font-weight: normal;
    height: 10px;
    margin-left: 5%;
}

.filled /*red*/
{
    color: #0065fc;
}

.nofill /*red*/
{
    color: #f2f2f2;
}

/*------------------------------------------------sub section Populaire*/

#container_populaire    /*green*/
{
    display: flex;
    flex-direction: column;
    width: 28%;
    background-color: #f2f2f2;
    border-radius: 20px;
    min-width: 270px;
    
}

@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    #container_populaire /*green*/
    {
        width: 100%;
        margin-bottom: 20px;
    }
}

#container_populaire_text p /*yellow*/
{
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 2%;
}

#container_populaire_items /*yellow*/
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#populaire_item     /*black*/
{
    /*width: 200px;   /*must be px --> % doesn't wrap in responsive*/
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;  

}

#populaire_item img    /*red*/
{
    object-fit: cover;  /* to use portion of the image*/
    width: 100px;
    height: 130px;
    display: block;     /* to allow centering*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#populaire_item h3 /*red*/
{
    height: 30px;
    width: 150px;
}

#stars_item
{
    margin-top: 45px;
}

/*#container_activites /*green
{
/*    display: flexbox;
/*    flex-direction: column;
    margin-right: 10px; /* this is only for tablet size 768 x 1024
}
*/

@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    #container_activites /*green*/
    {
        width: 100%;
    }
}

#activites_items /*yellow*/
{
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
/*
.border{    /*to be corrected!!!
    border: 3px solid black;
	margin: 2px;
}
*/
#activites_item_big /*black*/
{
    width: 240px;
    height: 400px;
    border: 3px solid black;
    border-radius: 20px;
    border-color: #f2f2f2;   
    margin-bottom: 30px;
    margin-top: 15px;
}

#activites_item_small /*black*/
{
    width: 240px;
    height: 200px;
    border: 3px solid black;
    border-radius: 20px;
    border-color: #f2f2f2;   
    margin-bottom: 15px;
    margin-top: 15px;
}

#activites_item_big img /* red*/
{
    width: 240px;
    height: 360px;
    object-fit: cover;/* to use portion of the image*/
    display: block; /* to allow centering*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activites_item_small img /*red*/
{
    width: 240px;
    height: 160px;
    object-fit: cover;/* to use portion of the image*/
    display: block; /* to allow centering*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*---------------------------------footer-----------------------------------------*/
#container_footer /*black*/
{
    display: flex;
    margin-top: 50px;
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    #container_footer /*green*/
    {
        display: block;
        margin-top: 50px;
    }
}

#footer_item /* green*/
{
    width: 300px;
    margin-right: 60px;
}


#footer_item a
{
    font-size: 1em;
    text-decoration: none;
    color: black;
}

#footer_item ul
{
    list-style-type: none;
}
#ul_title
{
    padding-left: 38px;
}