/*fonts*/

/*@font-face
{
    
}
*/

body 
{
    width: 95%;
    margin: auto;
}


/*Header*/
#header_logo_and_nav
{
    display: flex;
    justify-content: space-between;
}

header img
{
    height: 40px;
    padding-top: 20px;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-left: 50px;
}

@media all and (max-width: 767.95px) /*same as OC website breakpoint*/
{
    nav ul
    {
        display: flex;                  
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }
}

nav a
{
    font-size: 1em;
    text-decoration: none;
    color: black;
}

#nav_item3
{
    color: #0065fc;
    font-weight: bold;
}

nav a:hover
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

header h1
{
    color: black;
    font-size: 1.2em;
}

header p
{
    color: black;
    font-size: 0.8em;
}

#search_map_icon
{
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    height: 40px;   
    float: left;
    text-align: center;
    padding-right: 10px;
    width: 3%;
    min-width: fit-content;
    position: relative; /*item appears in back */
    z-index: 1;         /*item appears in back */
}

#search_input
{
    background-color: white;
    border-color: #f2f2f2;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    text-decoration: black;
    font-weight: bold;
    height: 34px;
    border-left: none;
    margin-left: -4px;
    float: left;  
    width: 11%;
    min-width: fit-content;
    position: relative; /*this is to bring item to front */
    z-index: 2;         /*this is to bring item to front with higher z-index */
}

#search_button
{
    background-color:#0065fc;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    float: left;
    min-width: fit-content;
    margin-left: -4px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    position: relative; /*item appears in back */
    z-index: 1;         /*item appears in back */
}

#header_filters
{
    display: flex;                  
    flex-direction: row;
    flex-wrap: wrap;
 }

 #filter_text
 {
     font-weight: bold;
     margin-top: 10px;
 }

#filter_icon
{
    background-color: #deebff;
    color: #0065fc;
    border: none;
    border-radius: 50px;
    height: 40px;   
    float: left;
    text-align: center;
    min-width: 40px;
    margin-left: 20px;
    position: relative; /*this is to bring item to front */
    z-index: 2;         /*this is to bring item to front with higher z-index */
}

#filter_button
{
    background-color: white;
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    height: 40px;
    float: left;
    min-width: fit-content;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: -40px;
    border-radius: 50px;
    position: relative; /*item appears in back */
    z-index: 1;         /*item appears in back */
}

#header_info
{
    display: flex;
}

#header_info i
{  
    color: #0065fc;
    padding-top: 12px;   
    padding-right: 10px;
}
    /*
    fill: #0065fc;
    text-decoration: #0065fc;
    border-style: solid;
    border: black;
    */

